@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Noto+Sans:wght@100;400;700&display=swap');


@font-face {
    font-family: 'Montserrat';
    src: url('/fonts_kaue/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts_kaue/Noto_Sans/NotoSans-Medium.ttf') format('truetype');
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    display: flex;
    font-family: 'Montserrat';
}

.quadro {
    width: 625.3px;
    height: 100%;
}

form {
    margin-left: 24.8px;
    width: 350px;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    margin-top: 15px;
    margin-left: 230px;
    width: 400px;
    height: 706px;
    border-radius: 20px;
    border: 5px solid black;
}

#google {
    width: 335px;
    height: 50px;
    border-radius: 48px;
    background: #E3F3FB;
    border: none;
    text-decoration: none;
}

.cad {
    color: #fff;
    text-align: center;
    margin: 14px;
}

.googl {
    margin-right: 23px;
}

.goog {
    width: 40px;
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-top: 5px;
}

.gg {
    font-weight: 400;
    color: black;
    text-align: center;
    margin: -33px;
    margin-left: 40px;
}

#model {
    margin: 6px;
    width: 335px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
}

#cadastro {
    width: 335px;
    height: 50px;
    border-radius: 48px;
    background: #2F3538;
    border: none;
    text-decoration: none;
    margin-top: 5px;
}

#placeholder {
    margin-bottom: 10px;
}