@font-face {
    font-family: 'Montserrat';
    src: url('/fonts_kaue/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts_kaue/Noto_Sans/NotoSans-Medium.ttf') format('truetype');
}

:root {
    --header: #A2B0EE;
    --botton: #9cf0ba;
    --details: #a8ebf0;
    --backgroundMain: #fafbff;
    --backgroundSecond: #defaff;
    --backgroundButton: #D9D9D9;
    --backgroundButtonSecond: #F5F5F5;
    --backgroundEdit: #FAFBFF;
    --footer: #e9e9e9;
    --footer2: #CDCDCD;
    --font: #2D2D2D;
    --font2: #666666;
    --shadow: #CDCDCD;
    --backgroudBodyText: #F0FDFF;

}

header {
    width: 100%;
    height: 6.25%;
    position: absolute;
    top: 0px;
    left: 0px;
    /*z-index: 1;*/
    background: var(--header);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    justify-content: center;
    top: 10px;
    align-items: center;
    margin-top: 50px;
    margin-left: -194px;
}

.header-logo img {
    width: 5.18%;
}

.header-logo h1 {
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 0.5rem;

}

.header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 2%;
    gap: 1rem;
    margin-top: 50px;
}

.header-buttons button {
    background: none;
    border: none;
}

.header-buttons img {
    width: 2rem;
}


body {
    background: linear-gradient(to right, #0ADAEA, #A2B0EE);
}

.ellipse_1 {
    position: absolute;
    overflow: hidden;
    top: 15px;
    left: 5%;
    width: 53px;
    height: 53px;
    -ms-border-radius: 26.5px / 26.5px;
    -o-border-radius: 26.5px / 26.5px;
    -moz-border-radius: 26.5px / 26.5px;
    -webkit-border-radius: 26.5px / 26.5px;
    border-radius: 26.5px / 26.5px;
    background: rgba(168, 235, 240, 1);
}

.ellipse_2 {
    position: absolute;
    overflow: hidden;
    top: 15px;
    left: 87%;
    width: 60px;
    height: 60px;
    -ms-border-radius: 30px / 30px;
    -o-border-radius: 30px / 30px;
    -moz-border-radius: 30px / 30px;
    -webkit-border-radius: 30px / 30px;
    border-radius: 30px / 30px;
    background-color: #D9D9D9;
}

h1 {
    font-family: 'Montserrat';
    color: #000000;
}

h2 {
    font-family: 'Noto Sans';
    color: #000000;
}

.rectangle_85 {
    display: flex;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    top: 92px;
    left: 325px;
    width: 950px;
    height: 722px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background: rgba(250, 251, 255, 1);
}