@font-face {
    font-family: 'Montserrat';
    src: url('/fonts_kaue/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts_kaue/Noto_Sans/NotoSans-Medium.ttf') format('truetype');
}

body {
    background-color: #FAFBFF;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

:root {
    --header: #A2B0EE;
    --botton: #9cf0ba;
    --details: #a8ebf0;
    --backgroundMain: #fafbff;
    --backgroundSecond: #defaff;
    --backgroundButton: #D9D9D9;
    --backgroundButtonSecond: #F5F5F5;
    --backgroundEdit: #FAFBFF;
    --footer: #e9e9e9;
    --footer2: #CDCDCD;
    --font: #2D2D2D;
    --font2: #666666;
    --shadow: #CDCDCD;
    --backgroudBodyText: #F0FDFF;

}

body {
    padding-top: 56px;
}

@media (min-width: 992px) {
    body {
        padding-top: 68px;
    }
}

.fixed-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

h1 {
    margin-bottom: 20px;
    font-family: 'Montserrat';
    color: #000000;
}

h2 {
    margin-bottom: 20px;
    font-family: 'Noto Sans';
    color: #000000;
}

footer {
    opacity: 0.99;
    text-align: center;
}

.rectangle_info {
    margin-bottom: 20px;
    border-radius: 20px;
    border: 3px solid #A8EBF0;
    background: #DEFAFF;
}

.rectangle_footer {
    opacity: 0.99;
    background: #CDCDCD;
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

.bg-light {
    background-color: #A2B0EE !important;
}

.bg-dark {
    background-color: #e9e9e9 !important;
}

.warning-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    z-index: 9999;
}

.warning-content {
    background-color: #868686;
    padding: 20px;
    border-radius: 50px;
    text-align: center;
}

.warning-content button {
    margin-top: 10px;
    padding: 30px 60px;
    background-color: #e43434;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Montserrat';
}

.warning-content button:hover {
    background-color: #db0000;
}

.container {
    margin-top: 20px;
    flex: 1;
}

.footer {
    margin-top: auto;
}

.footer-table {
    width: 100%;
}

.footer-table th,
.footer-table td {
    padding: 8px;
    text-align: left;
}